<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <link
      rel="icon"
      href="<%= htmlWebpackPlugin.options.baseUrl %>favicon.ico"
    />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css"
    />
    <meta
      property="og:site_name"
      content="<%= htmlWebpackPlugin.options.title %>"
    />
    <meta name="title" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta
      property="og:title"
      content="<%= htmlWebpackPlugin.options.title %>"
    />
    <meta
      property="twitter:title"
      content="<%= htmlWebpackPlugin.options.title %>"
    />
    <meta
      name="description"
      content="<%= htmlWebpackPlugin.options.description %>"
    />
    <meta
      property="twitter:description"
      content="<%= htmlWebpackPlugin.options.description %>"
    />
    <meta
      property="og:description"
      content="<%= htmlWebpackPlugin.options.description %>"
    />
    <meta
      property="og:url"
      content="<%= htmlWebpackPlugin.options.baseUrl %>"
    />
    <meta
      property="og:image"
      content="<%= htmlWebpackPlugin.options.baseUrl %>avatar.png"
    />
    <meta
      name="twitter:image:src"
      content="<%= htmlWebpackPlugin.options.baseUrl %>avatar.png"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <% if (htmlWebpackPlugin.options.gtag && htmlWebpackPlugin.options.isProd) {
    %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=<%= htmlWebpackPlugin.options.gtag %>"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "<%= htmlWebpackPlugin.options.gtag %>");
    </script>
    <% } %>
  </head>
  <body>
    <noscript>
      <strong>
        We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to continue.
      </strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
