<template>
  <v-container class="my-8 my-lg-16" fluid>
    <v-row>
      <v-col cols="12" md="4" lg="3">
        <profile-card
          :class="$style.animated_card_2"
          :style="{ animationDuration: '1000ms' }"
          v-bind="{ social, name, location, position, avatarSrc, summary }"
        />
      </v-col>
      <v-col cols="12" md="8" lg="9">
        <v-row>
          <v-col cols="12">
            <summary-card
              :class="$style.animated_card"
              :style="{ animationDuration: '1000ms' }"
            >
              <div v-html="summary" />
            </summary-card>
          </v-col>
          <v-col cols="12">
            <about-card
              :class="$style.animated_card"
              :style="{ animationDuration: '1500ms' }"
              v-bind="{ interests, education, languages }"
            />
          </v-col>
          <v-col cols="12">
            <skills-card
              :class="$style.animated_card"
              :style="{ animationDuration: '2000ms' }"
              :items="skills"
            />
          </v-col>
          <v-col cols="12">
            <working-experience-card
              :class="$style.animated_card"
              :style="{ animationDuration: '2500ms' }"
              :items="working_experience"
            />
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import config from "@/config/config.json";
import ProfileCard from "@/components/ProfileCard.vue";
import SummaryCard from "@/components/SummaryCard.vue";
import AboutCard from "../components/AboutCard.vue";

export default {
  name: "Home",
  components: {
    ProfileCard,
    SummaryCard,
    AboutCard,
    SkillsCard: () => import("@/components/SkillsCard.vue"),
    WorkingExperienceCard: () =>
      import("@/components/WorkingExperienceCard.vue"),
  },
  data() {
    return {
      ...config,
    };
  },
  computed: {},
};
</script>

<style lang="scss" module>
@import "@/scss/keyframes.scss";

.animated_card {
  animation-name: slide-bottom;
}
.animated_card_2 {
  animation-name: slide-right;
}
</style>
