<template>
  <v-card>
    <card-decoration color="#3A6351" />
    <v-card-title>About me</v-card-title>
    <v-card-text>
      <v-row>
        <v-col cols="12" lg="4">
          <div
            :class="$style.about__subtitle"
            class="black--text text-uppercase font-weight-bold"
            v-text="'Education'"
          />
          <div
            v-for="item in education"
            :key="item.title"
            :class="$style.about__education"
            class="pb-4"
          >
            <div class="primary--text font-weight-bold" v-text="item.title" />
            <div class="black--text" v-html="item.description" />
          </div>
        </v-col>
        <v-col cols="12" lg="4">
          <div
            :class="$style.about__subtitle"
            class="black--text text-uppercase font-weight-bold"
            v-text="'Languages'"
          />
          <div v-for="item in languages" :key="item.name">
            <div class="font-weight-bold black--text" v-text="item.name" />
            <div class="d-flex">
              <progress-bar :value="Number(item.progress)" />
              <div :class="$style.about__level" v-text="item.level" />
            </div>
          </div>
        </v-col>
        <v-col cols="12" lg="4">
          <div
            :class="$style.about__subtitle"
            class="black--text text-uppercase font-weight-bold"
            v-text="'Interests'"
          />
          <div
            v-for="item in interests"
            :key="item"
            :class="$style.about__interests"
            class="black--text text-uppercase"
            v-text="item"
          />
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: "AboutCard",
  components: {
    CardDecoration: () => import("./CardDecoration.vue"),
    ProgressBar: () => import("./ProgressBar.vue"),
  },
  props: {
    interests: { type: Array, default: () => [] },
    education: { type: Array, default: () => [] },
    languages: { type: Array, default: () => [] },
  },
};
</script>

<style lang="scss" module>
.about {
  &__subtitle {
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 20px;
  }

  &__interests {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 20px;
  }
}
</style>
