<template>
  <div :class="$style.card_decoration">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="260"
      height="219"
      viewBox="0 0 260 219"
      fill="none"
    >
      <rect
        :fill="color"
        y="-129.345"
        width="105.578"
        height="467"
        transform="rotate(-45 0 -129.345)"
      />
      <path
        d="M266.737 -2.5L266.737 168.973L118.237 83.2365L266.737 -2.5Z"
        fill="#393232"
      />
    </svg>
  </div>
</template>

<script>
export default {
  name: "CardDecoration",
  props: {
    color: {
      type: String,
      default: "#E48257",
    },
  },
};
</script>

<style lang="scss" module>
@import "@/scss/keyframes.scss";

.card_decoration {
  position: absolute;
  top: 0;
  right: 0;
  animation: slide-left 1s ease-in-out;
}
</style>
