<template>
  <v-card :class="$style.profile_card">
    <v-card-text
      class="secondary d-flex justify-center align-center flex-column"
    >
      <v-btn
        :class="$style.profile_card__scale"
        icon
        color="primary"
        fab
        top
        right
        absolute
        x-small
        class="mt-8"
        @click="share"
      >
        <v-icon>mdi-share-variant-outline</v-icon>
      </v-btn>
      <v-avatar color="accent" size="150">
        <v-img :src="avatar" />
      </v-avatar>
      <h1
        class="headline font-weight-bold text-uppercase accent--text py-4 text-center"
        v-text="name"
      />
      <h2
        class="subtitle-1 text-center accent--text opacity-6 mb-4"
        v-text="position"
      />
      <div
        class="subtitle-2 text-center accent--text opacity-6 mb-4"
        v-text="location"
      />

      <div class="full-width d-flex justify-space-around align-center">
        <v-btn
          v-for="item in socialLinks"
          :key="item.name"
          :href="item.value"
          :class="$style.profile_card__scale"
          target="_blank"
          icon
          color="accent"
        >
          <component :is="item.icon" />
        </v-btn>
      </div>
    </v-card-text>
    <!-- <v-card-text class="justify-center d-flex">
      <v-btn
        color="primary"
        center
        rounded
        elevation="0"
        @click="$emit('download')"
      >
        Download CV
      </v-btn>
    </v-card-text> -->

    <v-snackbar v-model="snackbar.show" :color="snackbar.color">
      {{ snackbar.message }}
    </v-snackbar>
  </v-card>
</template>

<script>
export default {
  name: "ProfileCard",
  props: {
    social: {
      type: Object,
      default: () => {},
    },
    name: {
      type: String,
      default: "~~~",
    },
    position: {
      type: String,
      default: "~~~",
    },
    location: {
      type: String,
      default: "~~~",
    },
    avatarSrc: {
      type: String,
      default: "",
    },
    summary: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      snackbar: {
        show: false,
        color: "success",
        message: "",
      },
    };
  },
  computed: {
    socialLinks: (self) => {
      return Object.entries(self.social)
        .map(([name, value]) => {
          let icon = false;
          try {
            icon = require(`@/assets/icons/${name}.svg`);
          } catch (e) {
            // eslint-disable-next-line no-console
            console.error(e);
          }
          return {
            value,
            name,
            icon,
          };
        })
        .filter((o) => o.icon);
    },
    avatar: (self) => {
      return self.avatarSrc !== "" ? self.avatarSrc : "/avatar.png";
    },
  },
  methods: {
    async share() {
      try {
        const data = {
          title: document.title,
          text: this.summary,
          url: location.href,
        };
        if (navigator.share) {
          await navigator.share(data);
        } else if (navigator.clipboard) {
          await navigator.clipboard.writeText(`${data.title}: ${data.url}`);
        }
        this.$set(this, "snackbar", {
          show: true,
          color: "success",
          message: "Copied! Thanks for sharing 🥳🥳🥳",
        });
      } catch (e) {
        // eslint-disable-next-line no-console
        console.error(e);
        this.$set(this, "snackbar", {
          show: true,
          color: "error",
          message: e.message,
        });
      }
    },
  },
};
</script>

<style lang="scss" module>
@import "@/scss/keyframes.scss";
.profile_card {
  &__scale {
    animation: show-scale 1800ms linear;
    transform-origin: 50% 50%;
  }
}
</style>
