<template>
  <div :class="$style.progress">
    <div
      v-for="dot in dots"
      :key="dot"
      :class="[
        $style.progress_dot,
        { [$style.progress_dot__active]: dot <= value / 10 },
      ]"
      :style="{ animationDuration: `${dot * 500}ms` }"
    />
  </div>
</template>

<script>
export default {
  name: "ProgressBar",
  props: {
    value: {
      type: Number,
      default: 0,
    },
    dots: {
      type: Number,
      default: 10,
    },
  },
};
</script>

<style lang="scss" module>
@import "@/scss/keyframes.scss";

.progress {
  display: flex;
  align-items: center;
  padding-right: 10px;

  &_dot {
    border-radius: 50%;
    border: 1px solid #3a6351;
    margin-right: 5px;
    animation-name: show-scale;
    animation-iteration-count: 1;
    transition: all 300ms;
    width: 10px;
    height: 10px;

    &__active {
      background-color: #3a6351;
    }
  }
}
</style>
