<template>
  <v-card>
    <card-decoration color="#AFAE76" />
    <v-card-title>Skills</v-card-title>
    <v-card-text>
      <v-chip-group column class="pr-lg-16">
        <v-chip
          v-for="(skill, index) in skillsByPriority"
          :key="index"
          color="primary"
          outlined
          v-text="skill.name"
        />
      </v-chip-group>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: "SkillsCard",
  components: {
    CardDecoration: () => import("./CardDecoration.vue"),
  },
  props: {
    items: {
      type: Array,
      default: () => [],
    },
  },
  computed: {
    skillsByPriority: (self) =>
      self.items.sort((a, b) => a.priority - b.priority),
  },
};
</script>
