<template>
  <v-card :class="$style.summary_card">
    <v-card-title>Summary</v-card-title>
    <v-card-text class="font-weight-medium black--text">
      <slot />
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: "SummaryCard",
};
</script>

<style lang="scss" module>
@import "@/scss/keyframes.scss";

.summary_card::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: #675175;
  width: 26px;
  animation: slide-right 1s ease-in-out;
}
</style>
