<template>
  <v-card>
    <card-decoration color="#E48257" />
    <v-card-title>Working Experience</v-card-title>
    <v-card-text>
      <div
        v-for="(item, index) in items"
        :key="index"
        :class="$style.working_item"
        class="pb-5"
      >
        <a
          :class="$style.working_item__title"
          :href="item.url"
          class="text-uppercase black--text font-weight-bold d-flex"
          target="_blank"
          v-text="`${item.company} · ${item.project}`"
        />
        <div
          :class="$style.working_item__time"
          class="primary--text font-weight-bold text-uppercase"
          v-text="item.time"
        />
        <div
          :class="$style.working_item__position"
          class="black--text pb-5"
          v-text="item.position"
        />
        <div :class="$style.working_item__resp" class="black--text">
          <b v-text="'Responsibilities:'" />
          <p v-html="item.responsibilities" />
        </div>
        <v-chip-group column>
          <v-chip
            v-for="chip in item.technologies"
            :key="chip"
            color="primary"
            outlined
            v-text="chip"
          />
        </v-chip-group>
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: "WorkingExperienceCard",
  components: {
    CardDecoration: () => import("./CardDecoration.vue"),
  },
  props: {
    items: {
      type: Array,
      default: () => [],
    },
  },
};
</script>

<style lang="scss" module>
.working_item {
  &__title {
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 10px;
    text-decoration: underline;
  }

  &__position {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }

  &__resp {
    b {
      color: $violet-color;
    }
  }
}
</style>
