<template>
  <v-app>
    <v-main :class="$style.app__background">
      <div :class="$style.app__background__wrapper">
        <div :class="$style.app__background__line" class="primary" />
      </div>
      <div :class="$style.app__content">
        <router-view />
      </div>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "App",
  components: {},
  data: () => ({}),
  computed: {},
  mounted() {},
  methods: {},
};
</script>

<style lang="scss" module>
.app {
  &__background {
    background: #f2edd7;
    position: relative;

    &__wrapper {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      overflow: hidden;
    }

    &__line {
      transition: all 400ms;
      opacity: 0.35;
      clip-path: polygon(25% 0%, 100% 75%, 100% 100%, 75% 100%, 0 25%, 0 0);
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    max-width: 1200px;
    margin: 0 auto;
  }
}
</style>
