@keyframes slide-left {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slide-right {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slide-bottom {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show-scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes show-scale-and-rotate {
  0% {
    transform: scale(0) rotate(0);
  }
  25% {
    transform: scale(0.25) rotate(90deg);
  }
  50% {
    transform: scale(0.5) rotate(180deg);
  }
  75% {
    transform: scale(0.75) rotate(270deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
